.jida-galeria-media section figure {
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.jida-galeria-media section figure.selected {
  border-color: #337ab7;
}

.jida-galeria-media section figure .overlay {
    height: 100%;
    width: 100%;
}

.jida-galeria-media section figure .overlay img {
    width: 100%;
  object-fit: cover;
}

.jida-galeria-media section figure .overlay img.img-fluid {
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

.jida-galeria-media section figure .overlay img:hover {
    filter: brightness(50%);
}

.jida-galeria-media section figure .menu-gallery-jadmin {
  position: absolute;
    top: 25px;
    left: 25px;
  background: transparent;
  color: white;
}
.jida-galeria-media section figure.ui-widget-content.ui-selected {
  border: 6px solid rgba(0, 0, 0, 0.5);
}
.jida-galeria-media section figure.ui-widget-content.ui-selected figcaption {
  background: rgba(0, 0, 0, 0.3);
}
.jida-container.galeria .objeto-media-detalle img {
  max-height: 500px;
}
.card-title {
  margin-bottom: 0;
}
.content-page .content {
  margin-top: 1.5rem;
}

.btn-primary:focus,
.btn-primary.focus,
.btn:focus,
.btn.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-outline-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-primary {
    border: 0;
}
.div-error {
  font-size: 10px;
  position: absolute;
  z-index: 99999;
  background-color: darkred;
  color: #fff;
  max-width: 95%;
  padding: 10px 8px;
  text-align: justify;
  margin-left: 5px;
  margin-top: -45px;
  float: left;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.div-error:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  border: 10px dashed darkred;
  border-radius: 3px;
  bottom: 0;
  top: 32px;
  left: 40px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
