/* Codigo necesario para footer 
 * 
 * el margin negativo del all-container debe ser igual al heigth del footer
 *  */
html,
body {
   height: 100%;
   
}
textarea{
    resize: none;
}

.all-container{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -100px;
}
.separador-footer{
    margin-top:50px;
    height: 100px;  
    clear: both;
}

.down-line{
    border-bottom:1px rgba(230,230,230,1) solid !important;
}
/* Fin de código para footer*/


.test{
    font-size:19px;
}

.pad10{
    padding-top:12px;
    padding-bottom:8px;
}
.top-15{
    margin-top:15px;
}

.top-30{
    margin-top:30px;
}
.top-60{
    margin-top:60px;
    margin-bottom:60px;
}
a{
    cursor: pointer;
}

  
 .circle{
    border-radius: 50%;
    
 }
 
 
.no-container-left{
    padding-left: -15px!important;
}
.no-container-right{
    padding-right: -15px!important;
}
.no-container{
    padding:auto -15px!important;
}


/*Controles compuestos de formularios*/
.div-error{
    
}
.control-multiple{
    position:relative;
}
select.ctrl-documentacion{
    width: 80px!important;
    min-width: 60px;
    position:absolute;
}
select.ctrl-documentacion + .form-control,
select.ctrl-documentacion + .form-control:focus{
    padding-left:90px!important;    
}
div.ctrl-number{
    display: inline;
    width: 20%!important;   
    padding:6px 12px;
}

input.ctrl-number-code{
    width: 80px!important;
    min-width: 50px!important;
    position:absolute;
}
input.ctrl-number-code + input[type=text],input.ctrl-number-code + input[type=text]:focus{
    padding-left:90px!important;
    margin-right:0%;
}

.radio-on-list{
position:absolute;
    margin-top:30px;
}


.box-140{
    width: 140px;height: 140px;   
}
a > img{
    opacity: .8;   
}
a:hover > img{
    opacity:1;
}
