.control-multiple {
  position: relative;
}
select.ctrl-documentacion {
  width: 80px!important;
  min-width: 60px;
  position: absolute;
}
select.ctrl-documentacion + .form-control,
select.ctrl-documentacion + form-control:focus {
  padding-left: 90px!important;
}
div.ctrl-number {
  display: inline;
  width: 20%!important;
  padding: 6px 12px;
}
input.ctrl-number-code {
  width: 80px!important;
  min-width: 50px!important;
  position: absolute;
}
input.ctrl-number-code + input[type="text"],
input.ctrl-number-code + input[type="text"]:focus {
  padding-left: 90px!important;
  margin-right: 0%;
}
.radio-on-list {
  position: absolute;
  margin-top: 30px;
}
