 .jida-container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

.footer {
   height:60px;
   background:#000 ;
   bottom:0;
   color:#fff;
   z-index: 2000;
   width:100%;
}

.contenido-principal {
  padding: 15px;
}
@media (min-width: 768px) {
  .contenido-principal {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.contenido-principal{
  margin-top: 40px;
}

* Hide for mobile, show later */
.sidebar {
  display: none;
}
.bg-jida{
	background:#000;
}
@media (min-width: 768px) {
  .aside {
    position: fixed;
    top: 51px;
    bottom: 60px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
/*
.aside ul{
	margin:0;
	list-style: none;
	padding:0;
}
.aside ul li{
	padding:5px;
}
.nav-aside > li > a {
  padding-right: 20px;
  padding-left: 20px;
  
}*/
.aside ul{
	list-style: none;
	
}
.nav-aside {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-aside > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-aside li:hover a:hover{
	
	color:#000;
	text-decoration: underline;
}
.nav-aside > .active > a {
  color: #fff;
  background-color: #428bca;
}