html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: #555;
}

.bg-login {
    background: url("../images/bg/bg-login.jpg") center no-repeat;
    background-size: cover;
}

.login-logo {
    width: 100%;
    margin: auto;
}

.form-group .btn-group {
    padding-left: 15px;
    padding-right: 15px;
}

.card-body {
    flex: 1 1 auto;
    padding: 0 1.25rem 40px;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.form-group {

}

.form-group label {
    display: none;
}

.form-group input {
    padding: 10px 5px;
    background-color: transparent;
    font-size: x-large;
    color: white;
    border-radius: 0px;
    border: 0px solid gray;
    transition: border-bottom-color 4s ease-in;
    border-bottom: 4px solid #3a6691;
}

.form-group input:focus {
    background-color: transparent;
    color: white;
    border-radius: 0px;
    border: 0px solid gray;
    border-bottom: 4px solid #294967;
    box-shadow: none;
}

.form-group input:hover {
    border-bottom: 4px solid #007ae9;
}

.form-group input::placeholder {
    padding-left: 10px;
    color: white;
}

.card-header {
    font-size: x-large;
}


@media (min-width: 48em) {
    html {
        font-size: 16px;
    }
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

body > .container {
    padding: 10px 15px 10px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.clear {
    clear: both;
    margin-bottom: 20px;
}

label {
    margin-bottom: .2rem;
    font-weight: 500;
}

.login-menu {
    margin-bottom: 3rem;
    background-color: #4b698a;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}

/* Nav links */
.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb;
}

.nav-link:hover,
.nav-link:focus {
    color: #fff;
    background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
    color: #fff;
}

.nav-link.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.div-error {
    font-size: 10px;
    position: absolute;
    z-index: 99999;
    background-color: darkred;
    color: #fff;
    max-width: 95%;
    padding: 10px 8px;
    text-align: justify;
    margin-left: 5px;
    margin-top: -45px;
    float: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.div-error:after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 10px dashed darkred;
    border-radius: 3px;
    bottom: 0;
    top: 32px;
    left: 40px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.card {
    background-color: rgba(205, 205, 205, 0.6);
    width: 500px;
}

.btn-primary{
    border-radius: 0;
    border: 1px solid black;
    color: gray;
    background-color: transparent;
}

