.owl-lol .slide-1 {
  background: url("../../images/hasna-1.jpg") center no-repeat;
  background-size: cover;
}
.owl-lol .slide-2 {
  background: url("../../images/hasna-2.jpg") center no-repeat;
  background-size: cover;
}
.owl-lol .slide-3 {
  background: url("../../images/hasna-3.jpg") center no-repeat;
  background-size: cover;
}
