.normal-heading {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
}
.mar-top-10 {
  margin-top: 10px;
}
.mar-top-15 {
  margin-top: 15px;
}
.mar-top-15i {
  margin-top: 15px !important;
}
.mar-top-20 {
  margin-top: 20px;
}
.mar-top-30 {
  margin-top: 30px;
}
.mar-right-10 {
  margin-right: 10px;
}
.mar-left-10 {
  margin-left: 10px;
}
.mar-btm-0 {
  margin-bottom: 0;
}
.mar-btm-10 {
  margin-bottom: 10px;
}
.mar-btm-15 {
  margin-bottom: 15px;
}
.mar-btm-20 {
  margin-bottom: 20px;
}
.no-mar-right {
  margin-right: 0 !important;
}
.no-pad-right {
  padding-right: 15px;
}
@media (min-width: 768px) {
  .no-pad-right {
    padding-right: 0;
  }
}
.no-pad-left {
  padding-left: 15px;
}
@media (min-width: 768px) {
  .no-pad-left {
    padding-left: 0;
  }
}
.pad-top-10 {
  padding-top: 10px;
}
.pad-btm-10 {
  padding-bottom: 10px;
}
.no-pad-page {
  padding: 0 !important;
  margin-bottom: 0;
}
.img-bow-center {
  display: block;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .img-bow-center-res {
    display: block;
    margin: 0 auto;
  }
}
.img-full-size {
  width: 100%;
}
