.jida-galeria-media {
  li {
    figure {

      height: 130px;
      overflow: hidden;
      width: 130px;
      overflow: hidden;
      border: 4px solid transparent;
      cursor: pointer;
      position: relative;
      &.selected {
        border-color: $brand-primary;
      }
      img {
        width: 140px;
        object-fit: cover;
      }
      figcaption {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: transparent;
      }
      &:hover {
        figcaption {
          background: rgba(0, 0, 0, .3);
        }
      }
      &.ui-widget-content.ui-selected {
        border: 6px solid rgba(0, 0, 0, .5);

        figcaption {
          background: rgba(0, 0, 0, .3);
        }
      }
    }
  }

}

.jida-container.galeria {
  .objeto-media-detalle {

    img {
      max-height: 500px;
    }

  }
}
