html,body{
	overflow-x:hidden!important;
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	background: @body-bg;
	font-family:@fuente-titulos;
}
a {
    color: @link-color;
}
a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: @link-hover-color;
}


#content-wrapper{
	display:table;
	min-height:100%;
	width:100%;
	.clearfix();
	.aside,.main-content{
		min-height:100%;
		display:block;
	}
	.aside{
		position:absolute;
		width:@left-side-width;
		.transicion(.2s);
	}
	.main-panel{
		.transicion(.2s);
		padding:0;
		width:calc(~'100%-{@}left-side-width');
		margin-left:(@left-side-width);
		
		/* Content */
		
		.content {
				width:100%;
				margin-right:400px;
		    padding: 20px 15px;
		    background: @body-bg;
		    
		}
	}
	&.short-menu{
		.main-panel{
			width:calc(~'100%-{@}left-side-short-width')!important;
			margin-left:(@left-side-short-width);
		}
	}
}


@media screen and (min-width: @screen-md) {
    .aside {
        top: 50px;
    }
    /*Right side strech mode*/
    .main-panel.strech {
        margin-left: 0;
        > .content-header {
            margin-top: 0px;
        }
    }
    /* Left side collapse */
    .left-side.collapse-left {
        left: -@left-side-width;
    }
}

/*Give content full width on xs screens*/
@media screen and (max-width: @screen-md) {
    .main-panel {
        margin-left: 0;
    }

}

/*
    By default the layout is not fixed but if you add the class .fixed to the body element
    the sidebar and the navbar will automatically become poisitioned fixed
*/

body.fixed {
    > .header, .left-side, .navbar, .aside {
        position: fixed!important;
    }
    > .header {
        top: 0;
        right: 0;
        left: 0;
    }
    .navbar {
        left: 0;
        right: 0;
    }

    .content-wrapper {
        margin-top: 50px!important;
    }
    .main-panel{
    	padding-top:60px!important;
    	.container-fluid{
				background:#fff;
				padding:15px;
				margin:15px;
				border-radius:2px;
				box-shadow: 0 5px 5px -5px #333;
			}
    }

}

//top admin
.navbar-top{
		.navbar-brand
		{
			img{
				height:20px;
			}
		}
}


